body {
    font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
    margin: 2em;
    background-color: #0a0a0a;
  }
  
  .container {
    display: block;
    margin: 60px auto;
    text-align: center;
    font-size: 400px;
    box-shadow: 0 4px 8px 0 rgba(235, 232, 232, 0.2);
    transition: 0.3s;
    width: 100vw;
    height: 60vh;
    background-color: #f0ead6;
    padding-top: 20px;
  }
  
  .carouselbox {
    display:block;
    margin: auto;
    width: 300px;
    height: 200px;
    cursor: pointer;
    padding-bottom: 40px;
  }
  
  img {
    margin: 0 auto;
    height: 300px;
    width: 300px;
  }
  
  .prev {
    text-align: center;
    width: 100px;
    height: 30px;
    z-index: 1000;
    background-color: #0a0a0a;
    color: white
  }
  
  .next {
    text-align: center;
    width: 100px;
    height: 30px;
    z-index: 1000;
    background-color: #0a0a0a;
    color: white
  }
  
  .wrapper {
    padding-bottom: 30px;
    display: flex;
    align-items: center;
    width: 40vw;
  
  }
  
  .carouselContainer {
    height: 90vh;
    width: 90vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }