/* -- IMPORTING FONT-FAMILIES */

@font-face {
    font-family: 'Lemon Milk';
    src: url(../media/fonts/LEMONMILK-Regular.otf);
}

@font-face {
    font-family: 'Xhers';
    src: url(../media/fonts/Xhers\ Regular.otf);
}

* {
    margin: 0;
}

header {
    text-align: center;
    max-width: 100%;
    background-color: #0f0f0f;
    padding-top: 35px;
    padding-bottom: 60px;
}

h1 {
    font-family: 'Xhers';
    letter-spacing: 3px;
    color: whitesmoke;
    font-size: 60px;
    user-select: none;
    margin-top: -10px;
    margin-bottom: -15px;
}

.divider {
    max-width: 250px;
    opacity: 75%;
    user-select: none;
}

body {
    min-height: 800px;
    max-width: 100%;
    background-image: url(../media/images/site/placeholder_background_003.png);
}