/* GENERAL & UNIVERSAL STYLES */

* {
    margin: 0;
}

::selection {
    color: #0f0f0f;
    background-color: gold;
}

/* FONT FAMILIES */

    /* -- IMPORTING FONT-FAMILIES */
@font-face {
    font-family: 'Lemon Milk';
    src: url(../media/fonts/LEMONMILK-Regular.otf);
}

@font-face {
    font-family: 'Lemon Milk Light';
    src: url(../media/fonts/LEMONMILK-Light.otf);
}

@font-face {
    font-family: 'Xhers';
    src: url(../media/fonts/Xhers\ Regular.otf);
}

    /* -- FONT-FAMILY CLASSES */
.xhers {
    font-family: 'Xhers' !important;
}

.lemon-milk {
    font-family: 'Lemon Milk' !important;
}

.lemon-milk-light {
    font-family: 'Lemon Milk Light' !important;
}

/* HTML SEMANTIC ELEMENTS */

a:hover {
    color: gold;
}

header {
    text-align: center !important;
    max-width: 100%;
    background-color: #0f0f0f;
    padding-top: 35px;
    padding-bottom: 60px;
}

h1 {
    font-family: 'Xhers';
    letter-spacing: 3px;
    color: whitesmoke;
    font-size: 60px;
    margin-bottom: -30px;
}

h1 a {
    color: whitesmoke;
}

h1 a:hover {
    color: goldenrod;
}

h2 {
    margin-bottom: 10px;
}

h3 {
    font-size: 20px !important;
    margin-bottom: 10px;
}

#BreweryList {
    margin-left: 10px;
}

#BreweryList p {
    margin-top: 7px;
    font-size: 12px;
    margin-left: 3px;
}

#BreweryList button {
    font-family: 'Xhers';
    letter-spacing: 1px;
    margin-top: 15px;
    font-size: 14px;
}

#BreweryList summary {
    margin-bottom: 10px;
    font-size: 12px;
    margin-left: 3px;
}

body {
    background-color: #0f0f0f;
    color: whitesmoke;
    min-height: 100vh;
    max-width: 100%;
    background-image: url(../media/images/site/placeholder_background_003.png);
    background-position: center;
    justify-content: center;
    background-attachment: fixed;
}
   
nav {
    justify-content: center;
    padding-bottom: 20px;
}

.travels {
    font-size: 36px;
    letter-spacing: 2px;
    text-align: center;
    text-shadow: 2px 2px 4px #000000
}

.burelage {
    position: static;
    margin-left: 0;
    margin-top: -38px;
    width: 230px;
}

.burelage-reverse {
    float: right;
    position: static;
    margin-right: 0;
    margin-top: -38px;
    width: 230px;
    transform: scaleX(-1)
}

.hidden {
    display: none;
}

.beige {
    background-color: bisque;
    background: url('../media/images/site/passportbg-noline.png');
    background-position: center;
    color: #0f0f0f !important;
    border-radius: 8px;
}

.passport-page h3 {
    font-family: 'Xhers';
    text-align: center;
    font-size: 28px;
    line-height: 28px;
}

.passport-page h4 {
    text-align: center;
    font-size: 12px;
    font-family: 'Lemon Milk Light';
}

.passport-page ul {
    margin-left: 20px;
}

.breweries {
    margin-bottom: 20px;
}

footer {
    font-family: 'Lemon Milk';
    bottom: 0;
    width: 100%;
    background-color: #0f0f0f;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 50px;
    font-size: 10px;
    margin-top: 50px;
}

footer h3 {
    color: #858585;
    font-weight: 200;
    font-size: 15px;
    margin-bottom: 10px;
}

footer li {
    text-transform: uppercase;
    line-height: 20px;
}

footer a {
    color: #434343;
}


/* IMAGE STYLING */

.barstyle {
    max-width: 200px;
    opacity: 75%;
    user-select: none;
}

.barstylebottom {
    max-width: 200px !important;
    user-select: none;
}

.barstyleform {
    text-align: center !important;
    max-width: 200px !important;
    opacity: 75%;
    user-select: none;
}

.stamp {
    width: 55px;
}

img .imgEl {
    width: 300px;
}

@media screen and (max-width: 768px) { 
    h2 {
        font-size: 21px !important;
    }
    
    .barstylebottom {
        max-width: 75px !important;
        user-select: none;
    }
}